<div class='panel panel-primary'>
  <div class='panel-heading'>
      <h3>Employee Management</h3>
  </div>
  <div class='panel-body'>
      <div class='table-responsive'>
        <div>
          <span>Name*</span>
          <input type="text" class="form-control" placeholder="Name" >
        </div>

      <div>
          <span>City</span>
          <input type="text" class="form-control" placeholder="City" formControlName="City">
      </div>
      <div>
          <span>Gender*</span>
          <select formControlName="Gender" class="form-control">
              <option>Male</option>
              <option>Female</option>
          </select>
      </div>
      <div>
          <span>Password</span>
          <input type="text" class="form-control" placeholder="Password" formControlName="Password">
      </div>
      <div>
          <span>Mobile No</span>
          <input type="text" class="form-control" placeholder="Mobile No" formControlName="MobileNo">
      </div>
    </div>
  </div>
